*
  box-sizing: border-box
  outline: none
body
  font-family: 'Lato', sans-serif
  color: $text-regular
  font-size: 14px
  line-height: 20px
.container 
  max-width: 1110px
  margin: auto
img
  max-width: 100%
button
  cursor: pointer
