@media (max-width: 576px)
  .container
    min-width: 280px
    width: 92%
  .header
    &__offer, &__image, &__weather
      display: none
    &__text
      &--right
        display: none
    &__user
      margin-left: 0
    &__search
      margin-left: 15px
  .search
    &__input
      max-width: 100px
  .window
    &__content
      padding: 25px 25px 30px 25px
    &__info
      flex-basis: 75%
  .outer
    height: 700px
    &__card
      flex-basis: 100%
      &:nth-child(1), &:nth-child(3)
        &:after
          content: none
      &:nth-child(3)
        &:before
          content: ''
          position: absolute
          width: 100%
          height: 1px
          bottom: -15px
          background-color: $text-regular
  .table
    &-wrapper
      grid-template-columns: repeat(2, 48%)
      grid-template-rows: repeat(7, 180px)
      grid-row-gap: 20px
      grid-column-gap: 20px
      justify-content: center
    &-card
      &__image
        height: 250px
      &__info
        &--medium
          top: 270px
          left: 20px
          right: 20px
      &__subtext
        &--date
          flex-basis: 100%
          margin-bottom: 2px
      &__title
        &--popular
          margin-bottom: 80px
      &__footer
        padding-right: 20px
      &--small
        padding: 20px
  .banner
    padding: 40px 0 45px 0
    &__title
      font-size: 24px
      line-height: 32px
      max-width: 85%
  .feed
    &__link
      margin-right: 15px
    &__image
      width: 170px 
  .desc
    &-wrapper
      grid-template-rows: repeat(6, 180px)
      grid-column-gap: 20px
    &-slider
      &__title
        font-size: 28px
        line-height: 36px
        max-width: 350px
  .table
    &-card
      &__bg
        &-image
          right: 5px
      &__circle
        right: -23px
  .subscribe
    &__title
      font-size: 28px
      line-height: 36px
    &__form
      flex-wrap: wrap
    &__input
      width: 260px
      flex-basis: 100%
      margin-right: 0
      margin-bottom: 15px
  .footer
    &__logo
      flex-basis: 25%
      margin-right: 0
    &-menu
      &__block
        flex-basis: calc(100% / 2)
    &-submenu
      &__item
        flex-basis: 50%
        &:nth-child(1), &:nth-child(2)
          margin-bottom: 15px
    &-social
      &__items
        margin-left: 0
        flex-basis: 50%
        justify-content: end
  .hero
    &-post
      height: 680px
      &__row
        margin-bottom: 0
      &__wrapper
        padding: 40px 0
        height: 600px
        justify-content: space-between
      &__title
        font-size: 32px
        line-height: 46px
        max-width: 430px
        margin-bottom: 0
      &__subtitle
        max-width: 400px
        margin-bottom: 0
      &__navigation
        width: 130px
        flex-wrap: wrap
        justify-content: center
      &__link
        &--home
          justify-content: center
          flex-basis: 100%
          margin-right: 0
          margin-bottom: 5px
      &__bookmark
        top: 49px
        left: 120px
  .article
    &-swiper
      height: 400px
      margin-top: 30px
      margin-bottom: 20px
      &__container
        height: 310px
      &__text
        max-width: 250px
      &__row
        padding-left: 25px
      &__user
        padding: 0 25px 0 20px
    &-quote
      flex-direction: column
      &__title
        margin-bottom: 20px
        margin-right: 10px
        max-width: 100%
      &__user
        display: flex
        align-items: center
      &__avatar
        margin-bottom: 0
        margin-right: 10px
    &-share
      &__title
        font-size: 22px
        line-height: 28px
  
