@media (max-width: 767px)
  .no-scroll
    overflow: hidden
    padding-right: 0
  .container
    max-width: 576px
    width: 92%
  .menu
    &-wrapper
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      z-index: 50
      top: 50px
      &--visible
        padding: 70px 0 20px 0
        display: block
        overflow: auto
  .header
    &__text
      &--left
        display: none
    &__date
      display: none
    &__image
      margin-right: 0
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 30px
  .burger
    &__title
      display: none
  .outer
    height: 510px
    &__wrapper
      max-width: 576px
      width: 92%
  .hero
    &__window
      display: none
    &__tabs
      width: 100%
    &__wrapper
      margin-top: -230px
  .tabs
    &__card
      &--active
        background-color: $white
  .table
    &-wrapper
      grid-template-columns: repeat(2, 255px)
      grid-template-rows: repeat(7, 170px)
      grid-row-gap: 20px
      grid-column-gap: 20px
      justify-content: center
      padding-bottom: 50px
    &-card
      &__footer
        &--big
          display: none
    &-columns
      &__card
        &--first
          margin-top: 35px
      &__user
        margin-bottom: 25px
  .feed
    padding: 40px 0
    &-card
      &__title
        font-size: 18px
        line-height: 22px
    &__image
      width: 190px 
