@media (max-width: 992px)
  .container
    max-width: 700px 
  .header
    &-menu
      &__link
        font-size: 13px
    &__text
      &--left
        max-width: 140px
      &--right
        max-width: 100px
    &__user
      margin-left: 20px
    &__image
      margin-left: 0
    &__weather
      margin-left: 20px
  .search
    &__input
      width: 180px
  .outer
    &__wrapper
      max-width: 700px
    &__card
      &:nth-child(2n+1)
        max-width: 326px
      &:nth-child(2n)
        max-width: 300px
    &__title
      font-size: 14px
      line-height: 20px
  .hero
    &__window
      width: 450px
  .window
    &__user
      margin-bottom: 120px
    &__title
      font-size: 28px
      line-height: 35px
    &__buttons
      flex-wrap: wrap
    &__button
      order: 2
      margin-top: 30px
    &__info
      flex-basis: 80%
