@media (max-width: 992px)
  .container
    max-width: 700px 
  .header
    &-menu
      &__link
        font-size: 13px
    &__text
      &--left
        max-width: 140px
      &--right
        max-width: 100px
    &__user
      margin-left: 20px
    &__image
      margin-left: 0
    &__weather
      margin-left: 20px
  .search
    &__input
      width: 180px
  .outer
    height: 560px
    &__wrapper
      max-width: 700px
      flex-wrap: wrap
    &__card
      flex-basis: 46%
      &:nth-child(1)
        margin-bottom: 30px
      &:nth-child(2)
        margin-bottom: 30px
        &:after
          content: none
    &__title
      font-size: 14px
      line-height: 20px
  .hero
    &__window
      width: 450px
  .window
    &__user
      margin-bottom: 120px
    &__title
      font-size: 28px
      line-height: 35px
    &__buttons
      flex-wrap: wrap
    &__button
      order: 2
      margin-top: 30px
    &__info
      flex-basis: 80%
  .table
    &-wrapper
      grid-template-columns: repeat(2, 330px)
      grid-template-rows: repeat(7, 170px)
      grid-row-gap: 20px
      grid-column-gap: 40px
    &__card
      &--big
        grid-row: 1 / 3
        grid-column: 1 / 2
        background-image: none
      &--popular
        grid-row: 1 / 3
        grid-column: 2 / 3
      &--medium
        grid-row: 3 / 5
        grid-column: 1 / 2
    &-columns
      grid-row: 3 / 7
      grid-column: 2 / 3
      &__cite
        max-width: 250px
    &-card
      &__cite
        max-width: 150px
        margin-right: 0
      &__comments
        &-icon
          &--big
            display: none
      &__footer
        &--big
          display: flex
          flex-wrap: wrap
          padding-left: 20px
          padding-right: 20px
      &__author
        &--popular
          flex-basis: 100%
      &__subtext
        &--big
          display: none
        &--date
          flex-basis: 45px
          margin-bottom: 0
      &__image
        height: 260px
  .banner
    &__title
      font-size: 28px
      line-height: 36px
      max-width: 530px
  .feed
    &__cards
      max-width: 700px
      margin-right: 0
    &-column
      display: none
    &__image
      width: 240px
  .desc
    &-wrapper
      grid-template-columns: repeat(2, 330px)
      grid-template-rows: repeat(6, 170px)
      grid-row-gap: 20px
      grid-column-gap: 40px
    &-card
      grid-column: 1 / 3
      grid-row: 4 / 6
  .table
    &-card
      &__bg
        &-image
          right: 57px
      &__circle
        right: 30px
