@media (min-width: 993px)
  .tabs, .window
    &__play
      &:hover
        background-color: $icon-color
  .button
    &:hover
      background-color: $blue*0.5
  .header
    &-menu
      &__link
        display: inline-block
        &:after
          display: block
          content: ""
          height: 1px
          width: 0%
          background-color: $white
          transition: width 0.2s ease-in-out
        &:focus:after, &:hover:after
          width: 100%
