@media (min-width: 993px)
  .tabs, .window
    &__play
      &:hover
        background-color: $gray
  .button
    &:hover
      background-color: $blue*0.5
  .header
    &-menu
      &__link
        display: inline-block
        &:after
          display: block
          content: ""
          height: 1px
          width: 0%
          background-color: $white
          transition: width 0.2s ease-in-out
        &:focus:after, &:hover:after
          width: 100%
  .outer
    &__card
      position: relative
      &:before
        position: absolute
        bottom: -5px
        content: ""
        height: 1px
        width: 0%
        background-color: $white
        transition: width 0.2s ease-in-out
      &:focus:before, &:hover:before
        width: 100%
  .feed
    &-column
      &__post, &__footer
        transition: all 0.3s
        &:hover
          background-color: lighten($gray,15%)
