.comments
  background-color: $white
  padding: 80px 0 30px 0
  &__wrapper
    max-width: 750px
    display: flex
    flex-direction: column
  &-header
    margin-bottom: 30px
    display: flex
    align-items: center
    &__title
      font-family: Roboto Slab
      font-weight: bold
      font-size: 40px
      line-height: 50px
      color: $dark
      margin: 0 10px 0 0
    &__count
      font-size: 40px
      line-height: 50px
      color: $light
    &__link
      text-decoration: none
      padding: 10px 24px 10px 20px
      border: 1px solid #D9DADB
      border-radius: 20px
      display: flex
      align-items: center
      margin-left: auto
    &__icon
      fill: #BCBFC2
      margin-right: 11px
    &__text
      font-weight: 900
      color: $dark
  &-body
    display: flex
    flex-direction: column
    &__more
      text-decoration: none
      margin-bottom: 60px
      display: flex
      align-items: center
      justify-content: center
      border: 1px solid #D9DADB
      border-radius: 25px
      padding: 15px
      &-icon
        margin-right: 8px
        fill: #BCBFC2
      &-text
        font-weight: 900
        color: $dark
.comment
  display: flex
  align-items: start
  border-top: 1px solid #D9DADB
  padding-top: 20px
  margin-bottom: 30px
  &--reply
    padding-left: 90px
  &--hidden
    display: none
  &__avatar
    width: 75px
    height: 75px
    object-fit: cover
    border-radius: 50%
    margin-right: 15px
  &__user
    &-info
      display: flex
      align-items: baseline
      margin-bottom: 10px
  &__name
    margin: 0
    margin-right: 10px
    font-family: Roboto Slab
    font-weight: bold
    font-size: 16px
    line-height: 25px
    color: $dark
  &__date
    font-size: 12px
    line-height: 15px
    color: $light
  &__text
    margin-top: 0
    margin-bottom: 15px
    max-width: 570px
    font-size: 18px
    line-height: 30px
  &-footer
    display: flex
    &__reply
      font-weight: 900
      color: $dark
      font-size: 12px
      line-height: 15px
    &__counter
      font-weight: 900
      color: $light
      margin: 0 10px
      font-size: 12px
      line-height: 15px
      &--green
        color: $green
      &--red
        color: $red
    &__icon
      margin-right: 5px
      align-self: end
    &__like, 
      line-height: 0
      align-self: start
    &__dislike
      align-self: end
      line-height: 0
    &__comment
      text-decoration: none
      display: flex
      align-items: end
      margin-right: 15px
.thumb
  fill: #BCBFC2
  &--active
    fill: $blue
.add
  &-comment
    background-color: #F5F5F5
    border-radius: 10px
    padding: 30px 40px 35px 30px
    &__title
      font-family: Roboto Slab
      font-weight: bold
      font-size: 20px
      line-height: 25px
      color: $dark
      margin-top: 0
      margin-bottom: 15px
      padding-left: 95px
    &__wrapper
      display: flex
    &__avatar
      width: 75px
      height: 75px
      object-fit: cover
      border-radius: 50%
      margin-right: 20px
    &__form
      position: relative
      z-index: 2
      display: flex
      align-items: start
      flex-wrap: wrap
      flex-basis: 100%
      &::after
        position: absolute
        content: ''
        width: 0
        height: 0
        left: -9px
        top: 29px
        z-index: 4
        border-top: 9px solid transparent
        border-bottom: 9px solid transparent
        border-right: 11px solid $white
      &::before
        position: absolute
        content: ''
        width: 0
        height: 0
        left: -11px
        top: 28px
        z-index: 3
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent
        border-right: 12px solid #D9DADB
    &__input
      border: 1px solid #D9DADB
      background-color: $white
      border-radius: 5px
      resize: none
      padding: 15px
      color: $dark
      line-height: 20px
      font-size: 14px
      width: 100%
      min-height: 130px
      position: absolute
      bottom: 15px
      &-wrapper
        height: 150px
        flex-basis: 100%
        max-width: 585px
        margin-bottom: 5px
        display: flex
        flex-direction: column
        position: relative
