.header
  padding-top: 50px
  background-color: $white
  &-top
    background-color: $white
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 99
  &__top
    &-row
      border-bottom: 1px solid #D9DADB
      display: flex
      justify-content: space-between
      height: 50px
    &-left
      display: flex
      position: relative
    &-right
      display: flex
  &__burger
    display: flex
    align-items: center
    background-color: $white
    border-right: 1px solid #D9DADB
    cursor: pointer
  &__search
    margin-left: 25px
    align-self: center
    display: flex
    align-items: center
  &__user
    align-self: center
    margin-left: 50px
    display: flex
    align-items: center
  &__main
    &-row
      min-height: 84px
      display: flex
      align-items: center
  &__image
    margin-left: 30px
    margin-right: 15px
  &__text
    &--left
      margin-right: -50px
  &__logo
    margin: 0 auto
  &__weather
    margin-left: 60px
    margin-right: 10px
  &__menu
    margin: 0
    &-desktop
      flex-direction: column
  &-menu
    list-style-type: none
    padding: 17px 0
    display: flex
    align-items: center
    justify-content: space-between
    color: $white
    &__link
      text-decoration: none
      color: inherit
      text-transform: uppercase
      font-weight: 900
    &__item
      &--desktop
        margin-bottom: 15px
  &-user
    text-decoration: none
    color: $text-regular
    &__login
      margin-left: 10px
      font-weight: normal
  &__outer
    padding-top: 30px
.burger
  &__icon
    width: 20px
    height: 20px
    padding: 3px 1px
    line-height: 20px
    margin-right: 15px
    display: flex
    flex-direction: column
    justify-content: space-between
  &__title
    font-size: 14px
    line-height: 20px
    font-weight: 900
    color: $dark
    margin-right: 25px
  span
    transition: all 0.3s
  &__line
    width: 18px
    height: 2px
    background-color: $gray
    &:nth-child(2)
      width: 14px
  &--active
    .burger
      &__line
        &:nth-child(1)
          transform: rotate(45deg) translate(3px, 6px)
        &:nth-child(2)
          opacity: 0
        &:nth-child(3)
          transform: rotate(-45deg) translate(2px, -6px)
.search
  &__icon
    margin-right: 10px
  &__input
    border: none
    color: $text-regular
    font-weight: normal
    font-size: 14px
    line-height: 20px
    width: 350px
    &::placeholder
      color: $light
.offer
  text-decoration: none
  display: flex
  &__img
    width: 66px
    height: 44px
    align-self: flex-end
    margin-right: 10px
  &__text
    align-self: center
    line-height: 0
  &__title
    margin: 0
    font-size: 12px
    line-height: 15px
    font-weight: 900
    color: $dark
  &__subtitle
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: $light

.menu
  &-desktop
    display: none
    background-color: $dark
    position: absolute
    top: 50px
    left: 0
    z-index: 25
    width: 150px
    &--active
      display: block
  &-wrapper
    background-color: $dark
.outer
  background-color: $dark
  height: 475px
  &__wrapper
    max-width: 1140px
    margin: 0 auto
    background: #30363D
    border-radius: 10px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 25px 20px 25px
  &__card
    text-decoration: none
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    flex-basis: calc(25% - 38px)
    margin: 15px 0 15px 0
    &:not(:last-child)
      &:after
        content: ''
        position: absolute
        width: 1px
        height: 75px
        right: -25px
        background-color: $text-regular
  &__title
    font-family: Roboto Slab
    font-weight: bold
    font-size: 16px
    line-height: 25px
    color: $white
    margin: 0
  &__img
    width: 65px
    height: 65px
    margin-left: 15px
