.table
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, 263px)
    grid-template-rows: repeat(4, 170px)
    grid-gap: 30px
    padding-bottom: 60px
  &-card
    background-color: $white
    border-radius: 10px
    text-decoration: none
    color: $text-regular
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 25px 25px 30px 25px
    overflow: hidden
    &__info
      display: flex
      flex-direction: column
      align-items: start
      max-width: 249px
      z-index: 2
      &--medium
        position: absolute
        top: 290px
        left: 25px
        right: 25px
    &__title
      margin: 0 0 5px 0
      font-family: Roboto Slab
      font-weight: bold
      font-size: 16px
      line-height: 25px
      color: $dark
      &--big
        font-size: 25px
        line-height: 30px
        max-width: 230px
        margin-top: 20px
        margin-bottom: 25px
      &--popular
        color: $white
        letter-spacing: 0.5px
        text-transform: uppercase
        margin-bottom: 60px
        margin-top: 10px
    &__text
      margin: 0 0 10px 0
    &__subtext
      font-size: 12px
      line-height: 15px
      color: $light
      &--white
        margin-right: 10px
        color: $white
        mix-blend-mode: normal
        opacity: 0.4
    &__tag
      font-size: 12px
      line-height: 15px
      font-weight: 900
      &--greyblue
        color: #6E99AE
      &--purple
        color: #E7D9FF
        z-index: 3
    &__footer
      position: absolute
      bottom: 0
      left: 0
      right: 0
      display: flex
      align-items: center
      padding: 12px 35px
      &--big
        border-top: 1px solid #D9DADB
      &--popular
        padding: 0 25px 25px 25px
      &-info
        display: flex
        flex-wrap: wrap
    &__avatar
      border-radius: 50%
      width: 45px
      height: 45px
      margin-right: 10px
      &--small
        width: 30px
        height: 30px
    &__author
      color: $dark
      font-weight: 900
      margin-right: 5px
      &--popular
        font-weight: normal
        flex-basis: 148px
        color: $white
        mix-blend-mode: normal
        opacity: 0.85
        margin-bottom: 2px
    &__cite
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-width: 296px
      margin-right: 15px
    &__comments
      &-icon
        margin-right: 5px
        &--popular
          opacity: 0.4
    &__likes
      &-icon
        fill: white
        margin-right: 5px
        opacity: 0.4
    &__popular
      background-image: url(../img/table/popular.png)
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      z-index: 1
      &-tag
        font-size: 12px
        line-height: 15px
        background-color: #3DC47E
        color: $white
        border-radius: 3px
        padding: 5px 12px
        align-self: flex-start
        font-weight: 900
        z-index: 3
      &-wrapper
        z-index: 3
    &__gradient
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: 2
      background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35))
    &__image
      position: absolute
      left: 0
      top: 0
      right: 0
      width: 100%
      max-height: 275px
      object-fit: cover
  &__card
    &--big
      background-image: url("../img/table/car.png")
      background-repeat: no-repeat
      background-position: right 15px
      grid-row: 1 / 3
      grid-column: 1 / 3
      position: relative
    &--popular
      position: relative
      grid-row: 1 / 3
      grid-column: 3 / 4
    &--medium
      position: relative
      grid-row: 3 / 5
      grid-column: 1 / 2
  &-columns
    grid-row: 1 / 5
    grid-column: 4 / 5
    background-color: #6E99AE
    border-radius: 10px
    overflow: hidden
    display: flex
    flex-direction: column
    position: relative
    &__title
      font-weight: 900
      color: $white
      letter-spacing: 0.5px
      text-transform: uppercase
      padding: 20px 25px
      display: block
    &__line
      width: 100%
      height: 1px
      background-color: #B4D1E0
      opacity: 0.5
      &--last
        position: absolute
        bottom: 45px
    &__content
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-evenly
      height: calc(100% - 105px)
      padding: 0 25px
    &__card
      text-decoration: none
      margin-top: 45px
      &:not(:last-child)
        padding-bottom: 39px
        border-bottom: 1px solid rgba(180, 209, 224, 0.5)
      &:last-child
        margin-bottom: 39px
    &__user
      display: flex
      align-items: center
      margin-left: 10px
    &__info
      display: flex
      flex-direction: column
    &__cite
      max-width: 210px
      font-family: Roboto Slab
      font-weight: bold
      font-size: 20px
      line-height: 25px
      color: $white
      margin: 0 -1px 15px 10px
      position: relative
      z-index: 4
      &::before
        content: ''
        position: absolute
        top: -10px
        left: -10px
        z-index: -1
        width: 40px
        height: 40px
        background-image: url(../img/table/quote.svg)
        background-repeat: no-repeat
    &__avatar
      border-radius: 50%
      width: 45px
      height: 45px
      margin-right: 10px
    &__author
      color: #D1E2EB
    &__vocation
      color: #D1E2EB
      font-size: 12px
      line-height: 15px
    &__link
      position: absolute
      bottom: 0
      left: 0
      right: 0
      text-decoration: none
      font-weight: 900
      color: $white
      text-align: center
      padding-top: 10px
      padding-bottom: 14px


